<?xml version='1.0' encoding='windows-1252'?>
<!--
  Eywa Windows Installer
  Generated for cargo-wix
-->
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='Eywa'
        UpgradeCode='E1A2B3C4-D5E6-F7A8-B9C0-D1E2F3A4B5C6'
        Manufacturer='Eywa'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='Personal knowledge base with local embeddings and semantic search'
            Manufacturer='Eywa'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'/>

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='Eywa Installation'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFiles64Folder' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='Eywa'>
                    <Component Id='binary0' Guid='*' Win64='yes'>
                        <File
                            Id='exe0'
                            Name='eywa.exe'
                            DiskId='1'
                            Source='$(var.CargoTargetBinDir)\eywa.exe'
                            KeyPath='yes'/>
                    </Component>
                    <Component Id='Path' Guid='E2B3C4D5-E6F7-A8B9-C0D1-E2F3A4B5C6D7' Win64='yes' KeyPath='yes'>
                        <Environment
                            Id='PATH'
                            Name='PATH'
                            Value='[APPLICATIONFOLDER]'
                            Permanent='no'
                            Part='last'
                            Action='set'
                            System='yes'/>
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs all binaries and the license.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>
            <ComponentRef Id='binary0'/>
            <Feature
                Id='Environment'
                Title='PATH Environment Variable'
                Description='Add the install location to the PATH system environment variable. This allows the eywa executable to be called from any location.'
                Level='1'
                Absent='allow'>
                <ComponentRef Id='Path'/>
            </Feature>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <Property Id='ARPHELPLINK' Value='https://github.com/ShankarKakumani/eywa'/>

        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
        </UI>

        <WixVariable Id='WixUILicenseRtf' Value='wix\License.rtf'/>

    </Product>
</Wix>
